
*{
		background-color:#E1FBD2 ;
	}
	
.con{width:80%;
max-width:10000px;
margin:0 auto;
overflow:hidden;}
	
/*imagenes*/
img.imag{
	width:400px;
	height:300px;
	border: #2CF71C 3px solid;
    border-image-slice: 5;
    padding: 2px;
    text-align: justify;
	margin:10px auto;
	display:block;
	
}

.ejemplo-3 img {
transition: all 0.5s ease-in-out;
width:100px;
height:90px;
}
.ejemplo-3 .mascara {
background-color: blue;
transform: translateX(-200px);/*Desplazamos 300px a la izquierda*/
opacity: 1;
transition: all 0.5s ease-in-out;
}
.ejemplo-3 h2{
background: green;
color: #000;
box-shadow: 0px 1px 3px black;
}
.ejemplo-3 p{
color: red;
}
.ejemplo-3:hover .mascara {
transform: translateX(0px);/*Regresamos a su posicioón original*/
}
.ejemplo-3:hover img {
transform: translateX(200px);/*Desplazamos 300px a la derecha*/
}

body{
	background:transparent;
	background:url(imagenes/calb.jpg);
	background-size:100%;
}



img.image{
	width:325px;
	height:300px;
	border: #2CF71C 3px solid;
    border-image-slice: 5;
    padding: 2px;
    text-align: justify;
}
.image:hover {
	-moz-transform: scale(1.1);

    -webkit-transform: scale(1.1);

    -o-transform: scale(1.1);

    transform: scale(1.1);
	}



h1 {font-size:35px; background-color:#50F51B; 
text-align: center;
}
h1.tit{
	background-color:#28FD02  ;
	text-align: center;
	text-shadow: 5px 5px 3px green; 
}
h3,h4{
	text-align: center;
}
#parte2 {
  width: 97%;
  margin: 0 auto;}
  
#parte3 {
  width: 97%;
  margin: 0 auto;}
  
 #parte4 {
  width: 97%;
  margin: 0 auto;}
  
 #parte5 {
  width: 97%;
  margin: 0 auto;}
  
 #parte6 {
  width: 97%;
  margin: 0 auto;}
  
h2.mov{
   text-shadow: 7px 7px 5px #42F919 ;

   background-color: green;

   position: relative;

   width: 60%;

   height: 50px;

}
@-webkit-keyframes redBox {

    0% {        left: 10px;    }

    50% {         left: 400px;    }

    100% {         left: 10px;    }

}

@-moz-keyframes redBox {

    0% {        left: 10px;    }

    50% {        left: 400px;    }

    100% {        left: 10px;   }

}

@keyframes ’redBox’ {

    0% {        left: 10px;    }

    50% {        left: 400px;    }

    100% {        left: 10px;    }

}
h2.mov {-webkit-animation-name: redBox;

    -webkit-animation-duration: 10s;

    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: redBox;

    -moz-animation-duration: 10s;

    -moz-animation-iteration-count: infinite;

    animation-name: redBox;

    animation-duration: 10s;

    animation-iteration-count: infinite;} 
 
  #pe{
	  border-radius: 10px 20px 15px 40px;
      padding: 4px;
      background-color: #80D9FE; 
	  margin:2px;
	  }
#pe img {
	height:60px;
	
}
 
header h1:hover { color:#B21109  ; } 
p { color: #0C33AF;
font-family: Arial}

table{border-spacing: 1; 
		    width: 870px; 
		    border: solid green 1px; 
		    -moz-border-radius: 20px; 
		    -webkit-border-radius: 20px; 
		    border-radius: 20px; 
		    -webkit-box-shadow: 0 3px 3px #ccc; 
		    -moz-box-shadow: 0 3px 3px #ccc; 
		    box-shadow: 0 3px 3px #ccc; 
			margin-left:15%;
            margin-right: 15%;
			}
			
.bordered tr,td {border-left: 2px solid #ccc; 
	    	border-top: 1px solid #ccc; 
	     	padding: 10px; 
	    	text-align: left; }
.bordered tr,td{background-color: #3BFA46  ; 
		background-image: -webkit-gradient(linear, left top, left 
		bottom, from( #48E9DD), to(#3BFA46  )); 
		    background-image: -webkit-linear-gradient(top, #48E9DD, #3BFA46    ); 
		    background-image: -moz-linear-gradient(top,  #48E9DD, #3BFA46    ); 
		    background-image: -ms-linear-gradient(top,  #48E9DD, #3BFA46    ); 
		    background-image: -o-linear-gradient(top,  #48E9DD, #3BFA46    ); 
		    background-image: linear-gradient(top,  #48E9DD, #3BFA46    ); 
		    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
		    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
		    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
		    border-radius: 25px; 
		    text-shadow: 0 1px 0 rgba(255,255,255,.5); }


div {
    border-color: red pink red;
    border-width: 1px;
    border-style: dotted solid;
}
			
			
			
.a1{
	margin: 10px;
}
.a1:hover {
	-moz-transform: scale(2.0);

    -webkit-transform: scale(2.0);

    -o-transform: scale(2.0);

    transform: scale(2.0);
	
}

a:visited { color: green;}
a:hover { color: red;}


img.portada{
	width:915px;
	height:300px;
	border: #F7ED1C   10px solid;
    border-image-slice: 5;
    padding: 3px;
    text-align: justify;
}

.portada:hover {
	-moz-transform: scale(1.1);

    -webkit-transform: scale(1.1);

    -o-transform: scale(1.1);

    transform: scale(1.1);
	}
	
/*Tamaño y posicion de imagenes menu principal*/
.flex-acces <div {
  background-color: #5375F3 ;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 20px;
  font-size: 30px;
}
.flex-acces  {
  display: flex;
  width:100%;
  flex-wrap: wrap;
}
.hola{display:flex;

}

* {
    margin:0px;
    padding:0px;
}


.header {height:auto;
	 margin:auto;
    width:100%;
    font-family:Arial, Helvetica, sans-serif;
	display:block;
    margin-left:30%;
    margin-right: 30%;
}

@media screen and (max-width: 800px) {
	header .header {
		width:70%;
		margin: 0 10px 0 10px;
   }
   
   header div ul {
		list-style: none;
   }
   
    header div ul li {
		display: inline-block;
		position: relative;
		text-align: center;
   }
	
	.parte5 {
		display: flex;
		width: 80%;
	}
}
	

img{
margin: 5px;
}

ul, ol {
    list-style:none;
}
.nav {

	padding:26px;
	margin-bottom:26px;
	display:block;
}
.nav > li {
    float:left;
	display:flex;
	position:relative;
}

.nav li a {
    background-color:#0E8AE5   ;
    color:#00041C  ;
    text-decoration:none;
    padding:10px 15px;
    display:block;
}

.nav li a:hover {
    background-color:#F6F7FF    ;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:200px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:200px;
    top:0px;
}



.imagen1{
    background-color: #50F51B  ;
}
#panama{
	display:block;
    margin:auto;
    height: 400px;
}

#contenedor {
  width: 90%;
  margin: 0 auto;
  }

.flex-acces{ background-color: #FFE5E4  ; }

h1{  width: 98%;
    padding: 10px;
	margin-top:20px;
	margin-bottom:20px;
   border: 2px solid #333;
   border-radius: 25px;
 -webkit-animation: sombra ease-in infinite alternate 200ms;
    -moz-animation: sombra ease-in infinite alternate 200ms;
    animation: sombra ease-in infinite alternate 200ms;}
@-webkit-keyframes sombra {
    0% { box-shadow: 0 0 35px #02FF06 ;}
    100% { box-shadow: 0 0 45px #52FCFF  ;}
@-moz-keyframes sombra {
    0% {box-shadow: 0 0 35px #02FF06 ;}
    100% {box-shadow: 0 0 45px #52FCFF  ;}

@keyframes sombra {
    0% { box-shadow: 0 0 35px #02FF06;}
    100% { box-shadow: 0 0 45px #52FCFF  ;}

@-media screen and (min-width:500px) { ... }
